!!!
%html
  %head
    %title CatsGallery
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    .col-md-8.col-md-offset-2
      .navbar.navbar-default
        = link_to 'Cats', root_path, class: 'navbar-brand'
        - if user_signed_in?
          = form_tag search_index_path, method: :get, class: 'navbar-form navbar-left' do
            .form-group
              = text_field_tag :term, nil, placeholder: 'Enter a search phrase', class: 'form-control'
            = submit_tag 'Search', class: 'btn btn-default'

          .container-fluid
            %ul.nav.navbar-nav.navbar-right
              %li= link_to 'My Photos', photos_path
              %li= link_to 'New Photo', new_photo_path
              %li= link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          %ul.nav.navbar-nav
            %li= link_to 'Sign in', new_user_session_path

    .col-md-8.col-md-offset-2
      - if notice
        .alert.alert-success= notice
      - if alert
        .alert.alert-danger= alert

      = yield
